.header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: #5CC04A;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn {
  outline:none;
  padding: 0.5em 3em;
  border: 1px solid #5CC04A;
  border-radius: 8px;
  color: #5CC04A;
  margin-top: 0.7em;
}

@media screen and (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
