/*
HEADER
 */

.heading-site {
    text-align: center;
    font-family: 'Lora', serif;
}

.header {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #FFFFFF;
    font-family: 'Lora', serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF;
}

.header .header-menu a:hover {
    color: #5ac4b5   ;
}

/*
BANNER
 */

.banner {
    margin-top: -30px;
}

.banner .banner-image {
    position: relative;
    /*height: auto;
    width: auto;
    */top: 0;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #FFFFFF;
}

/*
ABOUT
 */

.about .about-single-element .icon {
    font-size: 50px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

/*
FOOTER
 */

.footer .footer-informations {
    text-align: center;
    margin-top: 30px;
}

.footer .footer-informations ul {
    padding: 0;
}

.footer .footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}
