/*
    COLORS

    #7fbc74
    #5ac4b5
*/

/*
HEADER
 */

html, body {
    height: 100%;
}


.heading-site {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 2em;
}

.header {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    height: 4.375em;
    line-height: 4.375em;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    float: left;
    display: flex;
    margin-left: 1.875em;
    margin-top: 1.250em;
    max-width:40%;
    max-height:40%;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF;
}

.header .header-menu a:hover {
    color: #5ac4b5   ;
}

/*
BANNER
 */

.banner {
    margin-top: -1.5em;
    background-size: cover;
    height: 100%;
}

.banner .banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    top: 0;
}

.banner .banner-logo {
    align-items: center;
    max-width:20%;
    max-height:20%;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.banner .banner-content h1 {
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
}

.banner .banner-content h2 {
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
    margin-top: 0.5em;
    font-size: 1.6em;
}

/*
ABOUT
 */


.about {
    margin-top: 1.5em;
    height: 100%;
}

.about .about-single-element .icon:before {
    background: -webkit-linear-gradient(#7fbc74, #5ac4b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .about-single-element .icon {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/*
FOOTER
 */

.footer {
    height: 100%;
    background-color: #FFFFFF;
}

.footer .footer-informations {
    text-align: center;
    margin-top: 3rem;
}

.footer .footer-informations ul {
    padding: 0;
}

.footer .footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}

.footer .footer-informations a {
    color: #4a4a4a;
    text-align: center;
}

.footer .footer-informations a:hover {
    color: #5ac4b5;
    text-align: center;
}

.footer .footer-informations .icon:before {
    margin-top: 10px;
    text-align: center;
    background: -webkit-linear-gradient(#7fbc74, #5ac4b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.footer .footer-informations .icon {
    margin-right: 25px;
    margin-left: 25px;
}


.footer .footer-contact-form {
    margin-top: 2rem;
    background-color: #FFFFFF;
}

.footer .footer-contact-form .field {
    margin-right: 25%;
    margin-left: 25%;
}

.footer .footer-contact-form .button {
    color: #FFFFFF;
    background: linear-gradient(to right,#7fbc74, #5ac4b5);
    text-align: center;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    width: 50%;
    height: 3rem;
    margin-left: 25%;
    margin-top: 0.5rem;
}


.footer .footer-contact-form .button:hover {
    color: #FFFFFF;
    background: linear-gradient(to left,#7fbc74, #5ac4b5);
    text-align: center;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    width: 50%;
    height: 3rem;
    margin-left: 25%;
    margin-top: 0.5rem;
}

.footer .footer-contact-form .textarea {
    background: #f0f0f5;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    padding: 1.5rem;
    width: 50%;
    margin-top: 1em;
    font-size: 1rem;
    box-shadow: none;
}

.footer .footer-contact-form .input {
    background: #f0f0f5;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    padding: 1.5rem;
    width: 50%;
    margin-top: 1em;
    font-size: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: none;
}
